@mixin button {
    font-size: 1.5em;
    padding: 0.6em 1em;
    background-color: $black;
    color: $white;
    border: 4px solid $white;
    margin-right: 50px;
}

.first-button {
    @include button;
}

.second-button {
    @include button;
}

.third-button {
    @include button;
}